@import "variables";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.circle {
  border-radius: 50%;
  position: relative;
  border: 6px solid white;
  height: 76px;
  width: 76px;
}